@media screen and (max-width: 960px) {
  .hero-div {
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-info-div {
    padding: 0;
  }

  .hero-image-container {
    width: 40%;
    display: flex;
    justify-content: end;
    margin-top: -40px;
    overflow: hidden;
  }
  
  .hero-image {
    position: sticky;
  }
}