@import url(//db.onlinewebfonts.com/c/2596224269750e00c3ad5356299a3b9f?family=Ogg);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* pseudo classes */
:root {
  /* ##colors */
  --bg:#1E1E1E;
  --bgc:#fff1f4;
  --funmi-ayo:#5B939B;
  --heading:#112629;
  --line:#CCC4C4;
  --body-text:#000000;
  --image-color: #D9D9D9;

  /* typography */
  /* ##font size */
  --fs-1: 16px;
  --fs-2: 24px;
  --fs-3: 28px;
  --fs-4: 30px;
  --fs-5: 40px;
  --fs-6: 140px;
  --fs-7: 250px;

  /* ##line height */
  --lh-1: 24px;
  --lh-2: 36px;
  --lh-3: 40px;
  --lh-4: 50px;
  --lh-5: 160px;
  --lh-6: 260px;

  /* ##font weight */
  --fw-1: 300;
  --fw-2: 400;
  
  /* ##font family */
  --ff: ogg, 'Courier New', Courier, monospace; 
}

/* reset */
li, ul, a {
  list-style: none;
  text-decoration: none;
}

.container {
  position: relative;
  width: 85%;
  text-align: center;
  /* display: flex; */
  justify-content: center;
}

html, body {
  height: 100vh;
  flex-wrap: wrap;
  overflow: auto;
  font-family: var(--ff);
  background-color: var(--bgc);
}

.hero-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  flex-wrap: wrap;
}

.hero-header, .hero-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0 60px 0; */
}

.site-title {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  font-weight: var(--fw-1);
  color: var(--heading);
}

.site-name {
  font-size: var(--fs-4);
  line-height: var(--lh-3);
  font-weight: var(--fw-1);
  color: var(--heading);
}

.hero-footer-date, .hero-footer-location {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  font-weight: var(--fw-1);
  color: var(--heading);
  transform: rotate(270deg);
}

.hero-div {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  gap: 60px;
}

.hero-image-container {
  width: 50%;
  display: flex;
  justify-content: end;
  margin-top: -40px;
}

.hero-image {
  position: static;
}

.info-div {
  padding: 60px 0;
  max-width: 230px;
  text-align: left;
}

.info-heading {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  font-weight: var(--fw-1);
  color: var(--heading);
  text-transform: uppercase;
}

.info-line {
  width: 61px;
  border: 1px solid var(--line);
  margin: 15px 0;
}

.info-text {
  font-size: var(--fs-3);
  line-height: var(--lh-2);
  font-weight: var(--fw-1);
  color: var(--body-text);
}
.hero-big-text {
  position: absolute;
  top: 35%;
  left: 9%;
  font-size: var(--fs-6);
  line-height: var(--lh-5);
  font-weight: var(--fw-2);
  color: var(--funmi-ayo);
  text-align: center;
}

.holding-section {
  margin: 150px 0 0 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 100px;
}

.holding-info-div {
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.venue-div, .contact-div {
  padding: 0;
}

.contact-text {
  padding: 10px 0;
}

.gallery-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.gallery-heading {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  font-weight: var(--fw-2);
  color: var(--heading);
  font-style: italic;
  margin: 0 0 20px 0;
}

.gallery-container {
  gap: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-image {
  transition: all ease 0.5s;
}

.gallery-image:hover, .gallery-image:focus {
  transform: scale(1.05);
}